<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display menu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/7140f4f7d5.js" crossorigin="anonymous"></script>
 <style>
     body { 
background-position: center; 
background-size: cover; 
font-family: san-serif;
}
 </style>
</head>
<body >
    <%- include('../partials/manager_nav') %>
    <table class="container table table-hover" style="margin-top: 100px;font-size:x-large ; background-color: grey;">
        <thead>
          <tr>
            <th scope="col">Order-ID</th>
            <th scope="col">Customer-Id</th>
            <th scope="col">Payment-Type</th>
            <th scope="col">Instructions</th>
            <th scope="col">Phone-No</th>
            <th scope="col">Addresss</th>
            
          </tr>
        </thead>
        <tbody style="background-color: white;">
            <% orders.forEach(function(order) { %>
                <tr>
                   
                    <td class="item" scope="row"><%= order._id %></td>
                    <td> <%= order.customerId %></td>
                    <td> <%= order.paymentType %></td>
                    <td> <%= order.instructions %></td>
                    <td> <%= order.phone %></td>
                    <td> <%= order.address %></td>
                 </tr>
                <% }) %>
        </tbody>   
    </table>            
</body>

</html>